li.combatant {
  padding-right: .5em;
  border: 3px;
  border-radius: 5px;
  border-color: #444444;
  border-style: solid !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
  margin: 4px;
}

a.li-icon {
  font-size: large;
}

a.li-icon-large {
  font-size: x-large;
}

a.li-icon-xlarge {
  font-size: xx-large;
}

#combat #combat-tracker .combatant .token-initiative {
  padding-left: .5em;
  align-items: center;
  display: flex;
  position: relative;
  flex: 0 0 auto;
}

#combat #combat-tracker li.combatant.hidden[data-token-id=""]:first-child {
  display: none !important;
}

#combat #combat-tracker li.combatant.turn-done {
  color: inherit;
  text-decoration: inherit;
}

#combat #combat-controls .combat-control[data-control="previousTurn"], #combat #combat-controls .combat-control[data-control="nextTurn"] {
  display: none !important;
}
